

.main-title p {
    text-align: center;
    background-color: mediumturquoise;
    font-size: 3em;
    letter-spacing: 3px;
    color: black;
}

.main-title a {
    text-decoration: none;
}

.main-title p:hover {
    color: white;
    background-color: #555555;
}

#header {
    margin-left: auto;
    margin-right: auto;
}


#sorting {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}


#ask-new-question {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#ask-new-question:hover {
    background-color: #555555;
}

#question-list {
    margin-left: auto;
    margin-right: auto;
}

#question-title {
    font-size: 30px;
    padding-bottom: 20px;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
}


.button:hover {
    background-color: #555555;
}


.footer {
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 32px;
    text-align: center;
}


.footer_link {
    color: black;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}


.footer:hover {
    background-color: #555555;
}


#footer_table {
    margin-left: auto;
    margin-right: auto;
}


.question-list-link-text {
    width: 100px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}


.delete-button {
    background-color: lightcoral; /* Green */
    border: none;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


.delete-button:hover {
    background-color: rgba(255,7,7,0.72)
}


.details-title {
    background-color: white;
    border: solid 2px #4CAF50;
    padding: 10px;
    text-align: center;
}

#question-tags {
    background-color: rgba(9,255,91,0.72);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

.question-detail-header {
    background-color: paleturquoise;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;

}

.question-detail {
    background-color: paleturquoise;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.message {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 300px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

#question-message {
    border: solid 1px #4CAF50;
    padding: 10px;
}

#registration-button {
    width: 150px;
    height: 30px;
    border: solid 1px #01579b;
    border-radius: 3px;
    background-color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 3px;
}

.login-grid {
    display: flex;
    background-color: mediumturquoise;
}

.list-grid {
    margin-top: 1em;
    display: flex;
}


.login-grid .box{
    flex: 1;
}

.list-grid .box{
    flex: 1;
}

.list-grid .listing-box {
    flex: 1;
}

.box {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}

.login-grid-cell {
    align-items: center;
}

.login {
    padding: 1em;
}

.log-button {
    color: black;
    background-color: white;
    text-decoration: none;
    border: none;
    padding: 5px;
}

.log-button:hover {
    color: white;
    background-color: #555555;
}

.login-error {
    display: flex;
    background-color: mediumturquoise;
    text-align: center;
    color: red;
}

.login-error .flashes {
    flex: 1;
}

.question-grid {
    display: flex;
    justify-content: stretch;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.question-grid .row {
    flex: 3;
}

.question-grid .del-row {
    flex: 1;
}

.del-row {
    margin-left: 2px;
}

.question-table-title {
    text-align: center;
}

.listing-box {
    display: flex;
}

.listing-box .select-css {
    flex: 7;
}

.listing-box .button {
    flex: .5;
}

.select-css {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    box-sizing: border-box;
    margin-right: 2px;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #4CAF50;

}
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}

.select-css option {
    font-weight:normal;
}

input {
    padding: 4px;
    border: none;
    border-bottom: 1px solid grey;
}



