{% extends 'layout.html' %}
{% block content %}

        <form action="/question/{{ question_id }}/new-answer" method="post">

            <p><b><label for="new-message">New answer</label></b><br>
                <textarea id="new-message" name="message" rows="8" cols="50" minlength="10" required></textarea></p>


            <label for="img_url">Insert image URL here:</label>
            <input id="img_url" name="image" placeholder="link">

            <p><button type="submit">Save answer!</button></p>


        </form>

{% endblock %}

