<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new question</title>
</head>
<body>
    <h1>Add new question</h1>
    <form action="/add-question" method="post">
        <label for="title-input">Question Title</label><br>
        <input id="title-input" name="title" cols="30" required><br>

        <label for="message-input">Message</label><br>
        <textarea id="message-input" name="message" rows="6" cols="30" required></textarea><br>
    </form>
</body>
</html>