<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Answer</title>
    </head>
    <body>
        <p><h1>Add new answer</h1></p>

        <form action="/question/<question_id>/new-answer" method="post">

            <input type="hidden" name="id" value="{{ new_id }}">
            <input type="hidden" name="submission_time" value="{{ timestamp }}">
            <input type="hidden" name="vote_number" value="0">
            <input type="hidden" name="question_id" value="{{ question_id }}">

            <p><b><label for="new-message">New answer</label></b><br>
                <textarea id="new-message" name="message" rows="8" cols="50" minlength="10" required></textarea></p>

            <input type="hidden" value=" ">

            <p><button type="submit">Save answer!</button></p>


        </form>
    </body>
</html>


