<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new question</title>
</head>
<body>
    <h1>Add new question</h1>
    <form action="/add-question" method="post">
        <label for="title-input">Question Title</label><br>
        <input id="title-input" name="title" cols="30" required><br>

        <label for="message-input">Message</label><br>
        <textarea id="message-input" name="message" rows="6" cols="30" required></textarea><br>

        <input type="hidden" id="id" name="id" value={{ id }}>

        <input type="hidden" id="time_stamp" name="submission_time" value={{ time_stamp }}>

        <input type="hidden" id="view_number" name="view_number" value=0>

        <input type="hidden" id="vote_number" name="vote_number" value=0>

        <label for="img_url">Insert image URL here:</label>
        <input id="img_url" name="image" placeholder="link">

        <button type="submit">Add new question</button>
    </form>
</body>
</html>