{% extends "question_details.html" %}

{%  block question %}
    {% if session.userid == question.user_id %}
        <br><br><a href="/question/{{ question['id'] }}/add-tag"><button>Add new tag</button></a>
    {% endif %}
    <p><h3>Answers</h3></p>
        {% if session.username %}
            <p><a href="/question/{{ question['id'] }}/new-answer"><button>Add new answer</button></a>
        {% endif %}
        {% if answers_to_question %}
            <table border="1" frame="1" cellpadding="10">
                <thead>
                    <tr>
                        <td align="center"><strong>Answer</strong></td>
                        <td align="center" width="10"><strong>Votes</strong></td>
                        <td colspan="2" align="center"><strong>Voting</strong></td>
                        <td align="center" width="10"><strong>Image</strong></td>
                        {% if session.username %}
                            <td align="center" width="10"><strong>Edit</strong></td>
                            <td align="center" width="10"><strong>Delete</strong></td>
                        {% endif %}
                        {% if session.userid == question.user_id %}
                            <td> </td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for answer in answers_to_question %}
                        <tr>
                            <td>{{ answer['message'] }}</td>
                            <td align="center">{{ answer['vote_number'] }}</td>

                            <td align="center"><button type="button"><a href="/question/{{ question['id'] }}/answer/{{ answer['id'] }}/voting?direction=up&target=answer">Like</a></button></td>
                            <td align="center"><button type="button"><a href='/question/{{ question['id'] }}/answer/{{ answer['id'] }}/voting?direction=down&target=answer'>Dislike</a></button></td>

                            {% if answer['image'] %}
                                <td><img src="{{ answer['image'] }}" height="200px" width="200px" alt="Invalid image URL"></td>
                            {% else %}
                                <td>No image added</td>
                            {% endif %}

                            {% if session.username and session.userid == answer['user_id'] %}
                                <td align="center"><a href="/question/{{ question['id'] }}/edit-answer/{{ answer['id'] }}"><button>Edit Answer</button></a></td>
                                <td align="center"><a href="/delete-answer/{{ answer['id'] }}"><button>Delete Answer</button></a></td>
                            {% elif session.username %}
                                <td colspan="2" align="center">You have no permission</td>
                            {% endif %}
                            {% if selected_answer == None %}
                                {% if question.user_id == session.userid and session.userid != answer.user_id %}
                                    <td align="center"><a href="/accept-answer/{{ question.id }}/{{ answer.id }}"><button>Mark answer as accepted</button></a></td>
                                {% endif %}
                            {% elif selected_answer.answer_id == answer.id %}
                                <td>{% if session.userid == question.user_id %}<a href="/delete-accepted-answer/{{ question.id }}/{{ answer.id }}"> Accepted answer </a>
                                    {% else %} Accepted answer {% endif %}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        {% else %}
            <p>There are no answers to this question yet.</p>
        {% endif %}

{% endblock %}