{% extends "question_details.html" %}

{%  block question %}
    {% if session.userid == question.user_id %}
        <a class="button" href="/question/{{ question['id'] }}/add-tag">Add new tag</a>
    {% endif %}
    <p><h3 class="title">Answers</h3></p>
        {% if session.username %}
            <p><a href="/question/{{ question['id'] }}/new-answer" class="button">Add new answer</a>
        {% endif %}
        {% if answers_to_question %}
            <div class="answer-head">
                <strong>Answer</strong>
                <strong>Votes</strong>
                <strong>Voting</strong>
                <strong>Image</strong>
            </div>
            {% for answer in answers_to_question %}
                <div class="answer-table">
                    <div class="box">
                        <p>{{ answer['message'] }}</p>
                    </div>
                    <div class="box">
                        <p>{{ answer['vote_number'] }}</p>
                    </div>
                    <div class="box">
                        <a href="/question/{{ question['id'] }}/answer/{{ answer['id'] }}/voting?direction=up&target=answer" class="button">Like</a>
                        <a href='/question/{{ question['id'] }}/answer/{{ answer['id'] }}/voting?direction=down&target=answer' class="delete-button">Dislike</a>
                    </div>
                    <div class="box">
                        {% if answer['image'] %}
                            <img src="{{ answer['image'] }}" height="200px" width="200px" alt="Invalid image URL">
                        {% else %}
                            <p>No image added</p>
                        {% endif %}
                    </div>
                    <div class="del-row">
                        {% if session.username and session.userid == answer['user_id'] %}
                            <a href="/question/{{ question['id'] }}/edit-answer/{{ answer['id'] }}" class="button">Edit Answer</a>
                            <a href="/delete-answer/{{ answer['id'] }}" class="delete-button">Delete Answer</a>
                        {% elif session.username %}
                            <p>You have no permission</p>
                        {% endif %}

                        {% if selected_answer == None %}
                            {% if question.user_id == session.userid and session.userid != answer.user_id %}
                                <a href="/accept-answer/{{ question.id }}/{{ answer.id }}" class="button">Mark answer as accepted</a>
                            {% endif %}
                        {% elif selected_answer.answer_id == answer.id %}
                            {% if session.userid == question.user_id %}<a href="/delete-accepted-answer/{{ question.id }}/{{ answer.id }}" class="delete-button"> Accepted answer </a>
                            {% else %} Accepted answer {% endif %}
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </div>




                </div>
            {% endfor %}

        {% else %}
            <p>There are no answers to this question yet.</p>
        {% endif %}

{% endblock %}