{% extends "question_details.html" %}

{%  block content %}
    <br><br><a href="/question/{{ question['id'] }}/new-tag"><button>Add new tag</button></a>

    <p><h3>Answers</h3></p>
        <p><a href="/question/{{ question['id'] }}/new-answer"><button>Add new answer</button></a>

        {% if answers_to_question %}
            <table border="1" frame="1" cellpadding="10">
                <thead>
                    <tr>
                        <td align="center"><strong>Answer</strong></td>
                        <td align="center" width="10"><strong>Votes</strong></td>
                        <td colspan="2" align="center"><strong>Voting</strong></td>
                        <td align="center" width="10"><strong>Image</strong></td>
                        <td align="center" width="10"><strong>Edit</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in answers_to_question %}
                        <tr>
                            <td>{{ answer['message'] }}</td>
                            <td align="center">{{ answer['vote_number'] }}</td>

                            <td align="center"><button type="button"><a href="/question/{{ question['id'] }}/answer/{{ answer['id'] }}/voting?direction=up&target=answer">Like</a></button></td>
                            <td align="center"><button type="button"><a href='/question/{{ question['id'] }}/answer/{{ answer['id'] }}/voting?direction=down&target=answer'>Dislike</a></button></td>

                            {% if answer['image'] %}
                                <td><img src="{{ answer['image'] }}" height="200px" width="200px" alt="Invalid image URL"></td>
                            {% else %}
                                <td>No image added</td>
                            {% endif %}

                            <td align="center"><a href="/question/{{ question['id'] }}/edit-answer/{{ answer['id'] }}"><button>Edit Answer</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button style="height:30px"><a href="/" action="post">Go back to question page</a></button>
        {% else %}
            <p>There are no answers to this question yet.</p>
            <button style="height:30px"><a href="/" action="post">Go back to question page</a></button>
        {% endif %}

{% endblock %}