<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit question</title>
    </head>
    <body>
        <form action="/edit-question/{{ question_to_edit['id'] }}" method="post">

        <label for="title-input">Question Title</label><br>
        <input id="title-input" name="title" cols="30" required value="{{ question_to_edit['title'] }}"><br>

        <label for="message-input">Message</label><br>
        <textarea id="message-input" name="message" rows="6" cols="30" required>{{ question_to_edit['message'] }}</textarea><br>

        <label for="img_url">Insert image URL here:</label>
        <input id="img_url" name="image" placeholder="link" value="{{ question_to_edit['image'] }}">

        <button type="submit">Edit question</button>
    </body>
</html>

