<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Answer</title>
    </head>
    <body>
        <p><h1>Edit answer</h1></p>

        <form action="/question/{{ answer_to_edit['question_id'] }}/edit-answer/{{ answer_to_edit['id'] }}/editing" method="post">

            <p><b><label for="new-message">New answer</label></b><br>
                <textarea id="new-message" name="message" rows="8" cols="50" minlength="10" required>{{ answer_to_edit['message'] }}</textarea></p>

            <label for="img_url">Insert image URL here:</label>
            <input id="img_url" name="image" placeholder="link">

            <p><button type="submit">Edit answer!</button></p>

        </form>
    </body>
</html>


