<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate</title>
    </head>
    <body>
        <p><h1>AskMate</h1>
        <br style="line-height:1"><br></p>
        <p><a href="/add-question">Ask new question</a></p>
        <table border="1" frame="1" cellpadding="5">
            <thead>
                <tr>
                    <p><th>Question titles</th></p>
                </tr>
            </thead>
            <tbody>

                {% for question in all_questions[::-1] %}
                <tr>
                    <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </body>
</html>

