<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question['title'] }}</title>
</head>
<body>
    <h1>{{ question['title'] }}</h1>
    <p class="question-tags">
        {% for tag in question_tags %}
        {{ tag['name'] }}
        {% endfor %}
    </p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Submission Time</th>
                <th>View</th>
                <th>Vote Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question['id'] }}</td>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    {%  if question['image'] %}
        <p><img src="{{  question['image'] }}" height="200px" width="200px" alt="Invalid image URL"/></p>
    {% endif %}
    <p><h2>Message</h2></p>
    <p>{{ question['message'] }}</p><br>
    <a href="/edit-question/{{ question['id'] }}"><button>Edit question</button></a>

    <button type="button"><a href="/question/{{ question['id'] }}/voting?direction=up&target=question">Like</a></button>
    <button type="button"><a href='/question/{{ question['id'] }}/voting?direction=down&target=question'>Dislike</a></button>

    {% block content %} {% endblock %}

</body>
</html>