<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question['title'] }}</title>
</head>
<body>
    <h1>{{ question['title'] }}</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Submission Time</th>
                <th>View</th>
                <th>Vote Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question['id'] }}</td>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p><h2>Message</h2></p>
    <p>{{ question['message'] }}</p><br>
    <p><h3>Answers</h3>
    <a href="/question/{{ question['id'] }}/new-answer">Add new answer</a></p>
    {% for answer in all_answers %}
        <p style="border:1px; border-style:solid; padding:1em">{{ answer['message'] }}</p>
    {% endfor %}
</body>
</html>