<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}"
</head>
<body bgcolor="{{ background_color }}">
    <div id="registration-card">
        <h1>Registration</h1>
        <form action="{{ url_for('route_register_user') }}" method="post">
            {% if invalid_username %}
                <p id="invalid-user">Username already taken</p>
            {% endif %}
            {% if not_matching %}
                <p>Username or password doesn't match</p>
            {% endif %}
            <div class="username">
                <label class="register-label" for="username">Username</label><br>
                <textarea class="register-input" name="username"></textarea>
            </div>

            <div class="password">
                <label class="register-label" for="password">Password</label><br>
                <input type="password" class="register-input" name="password">
            </div>
            <div class="username">
                <label class="register-label" for="username2">Username again</label><br>
                <textarea class="register-input" name="username2"></textarea>
            </div>
            <div class="password">
                <label class="register-label" for="password2">Password again</label><br>
                <input type="password" class="register-input" name="password2">
            </div>
            <button type="submit" id="registration-button">Register</button>
        </form>
    </div>
</body>
</html>