<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}"
</head>
<body>
    <div id="registration-card">
        <h1>Registration</h1>
        <form action="{{ url_for('route_register_user') }}" method="post">
            <div id="username">
                <label class="register-label" for="username">Username</label><br>
                <textarea class="register-input" name="username"></textarea>
            </div>

            <div id="password">
                <label class="register-label" for="password">Password</label><br>
                <textarea class="register-input" name="password"></textarea>
            </div>
            <button type="submit" id="registration-button">Register</button>
        </form>
    </div>
</body>
</html>