{% extends 'layout.html' %}
{% block content %}

    {% if session['username'] %}

        <div class="user-reputation">
            <div class="box"><p>User reputation:</p></div>
            <div class="box"><p>{{ user_reputation }}</p></div>

        </div>

        {% if user_activities['questions'] or user_activities['answers'] %}

            {% if user_activities['questions'] %}

                <div class="user-profile-table">
                    <div class="title">
                            <strong>User questions</strong>
                    </div>
                    <div class="question-grid">
                        {% for user_question in user_activities['questions'] %}
                            <div class="box">
                                <a href="/question/{{ user_question['id'] }}" class="button">{{ user_question['title'] }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>This user hasn't posted questions</p>
            {% endif %}

            {% if user_activities['answers'] %}
                <div class="user-profile-table">
                    <div class="title">
                      <strong>User answers</strong>
                    </div>
                        {% for question in questions %}
                            {% for row in result %}
                                {% if question.id == row.q_id %}
                                    <div class="question-grid">
                                        <div class="box">
                                            <a href="/question/{{ question.id }}" class="button">{{ question.title }}</a>
                                        </div>
                                        <div class="box">
                                            <p>{{ row.a_message }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                </div>
            {% else %}
                <p>This user hasn't posted answers</p>
            {% endif %}

        {% else %}
            <p>This user haven't posted any questions or answers.</p>
        {% endif %}

        <p><a href="{{ url_for('render_all_users') }}" class="button">Back to all users</a></p>

    {% else %}
        <a href="/" class="button">Please login!</a>
    {% endif %}

{% endblock %}

