{% extends 'layout.html' %}
{% block content %}

    {% if session['username'] %}

        <table>
            <thead>
                <tr>
                    <th>User reputation:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user_reputation }}</td>
                </tr>
            </tbody>
        </table>

        {% if user_activities['questions'] or user_activities['answers'] %}

            {% if user_activities['questions'] %}

                <table id="user_questions_table">
                    <thead>
                        <tr>
                            <th>User questions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_question in user_activities['questions'] %}
                            <tr>
                                <td><a href="/question/{{ user_question['id'] }}">{{ user_question['title'] }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This user hasn't posted questions</p>
            {% endif %}

            {% if user_activities['answers'] %}
                <table id="user_answers_table">
                    <thead>
                        <tr>
                            <th>User answers</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_answer in user_activities['answers'] %}
                            <tr>
                                <td>{{ user_answer['message'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This user hasn't posted <answers></answers></p>
            {% endif %}

        {% else %}
            <p>This user haven't posted any questions or answers.</p>
        {% endif %}

        <p><a href="{{ url_for('render_all_users') }}">Back to all users</a></p>

    {% else %}
        <p>Please login!</p>
    {% endif %}

{% endblock %}

