{% extends 'layout.html' %}
{% block content %}

    {% if session['username'] %}

        <table id="user_questions_table">
            <thead>
                <tr>
                    <th>User questions</th>
                </tr>
            </thead>
            <tbody>
                {% for user_question in user_activities[0] %}
                    <tr>
                        <td><a href="/question/{{ user_question['id'] }}">{{ user_question['title'] }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="user_answers_table">
            <thead>
                <tr>
                    <th>User answers</th>
                </tr>
            </thead>
            <tbody>
                {% for user_answer in user_activities[1] %}
                    <tr>
                        <td>{{ user_answer['message'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><a href="{{ url_for('render_all_users') }}">Back to all users</a></p>
    {% else %}
        <p>Please login!</p>
    {% endif %}

{% endblock %}

